.Popmain {
  position: relative;
  width: 98vw;
  height: auto;
  border-radius: 50px;
  color: #fff;
  background-color: coral;

  /* border: 5px black solid; */
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 60px;
  padding-top: 5px;
}

.Popmain1 {
  background-color: black;
}

.commentDIV {
  width: auto;
  height: 150px;
  overflow-x: scroll;
}

.SidePop2 {
  position: relative;
  margin-left: 20px;
}

.ClosseBtn1 {
  display: none;
}

@media (max-width: 780px) {
  .ClosseBtn {
    display: none;
  }

  .ClosseBtn1 {
    display: block;
    background-color: coral;
  }
}
